<footer class="footer">
    <div class="container">
    <div class="footer__logo">ohmyfood</div>

    <div>
        <ul class="footer__list">
            <li class="footer__detail">
                <i class="fas fa-utensils footer__icon"></i>
                <a class="footer__lien" href="#">Proposer un restaurant</a>
            </li>

            <li class="footer__detail footer__icon">
                <i class="fas fa-handshake"></i>
                <a  class="footer__lien" href="#">Devenir partenaire</a>
            </li>

            <li class="footer__detail">
                <a class="footer__lien" href="#">Mentions légales</a>
            </li>

            <li class="footer__detail">
                <a class="footer__lien" href="mailto:service-clients@ohmyfood.com">Contact</a>
            </li>
        </ul>
    </div>
    </div>
</footer>