.logo {
    padding: 0;

    &__icon {
        display: flex;
        justify-content: flex-end;
        text-decoration: none;
        color: black;
        cursor: pointer;
    }
    &--back{
        display: grid;
        grid-template-areas: "fleche logo .";
        grid-template-columns: 2rem auto 2rem;
        align-items: center;

        a{
            text-decoration: none;
        }
    }
}

.img {
    border-radius: 0;
    object-fit: cover;
    height: 20rem;
}

.menu {
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
    padding: 1rem;
    font-family: Roboto, sans-serif;
    margin-top: -3rem;
    position: relative;

    &__title {
    font-family: Shrikhand;
    display: flex;
    justify-content: space-between;
    border-radius: 1.5rem 1.5rem 0 0;
    }
    h3::after{
        width : 3rem;
        display: block;
        content: " ";   
        background: $color-tertiary;
        height: .2rem; 
    }

    &__icon {
        cursor: pointer;
    }

    &__icon:hover {
        font-weight: bold;
        background-size: 600% 600%;
        background: -webkit-linear-gradient(#FF79DA,#9356DC);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: AnimationName 3s linear;
    }

    @-webkit-keyframes AnimationName {
        0%{background-position:91% 0%}
        50%{background-position:10% 100%}
        100%{background-position:91% 0%}
    }

    @-moz-keyframes AnimationName {
        0%{background-position:91% 0%}
        50%{background-position:10% 100%}
        100%{background-position:91% 0%}
    }

    @keyframes AnimationName {
        0%{background-position:91% 0%}
        50%{background-position:10% 100%}
        100%{background-position:91% 0%}
    }
}

.onglet {
    width: 99%;
    border-radius: 1rem;
    display: grid;
    grid-template-areas: 
        "titre prix"
        "detail prix";
    cursor: pointer;
    opacity: 0;
    animation: onglet 2s forwards;
    grid-auto-columns: auto 2.5rem;

    &__title {
        margin: 0.5rem 0 0 0;
        grid-area: titre;
    }

    &__detail {
        margin: 0 0 .5rem 0;
        grid-area: detail;
    }

    &__price {
        align-items: flex-end;
        justify-content: flex-end;
        display: flex;
        font-weight: bold;
        margin-right: 1rem;
        margin-bottom: .5rem;
    }

    &__checkspace {
        grid-area: prix;
        display: flex;
        justify-content: flex-end;        
        height: 4rem;
        width: 100%;
    }

    &__check {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition-duration: 1s;
        border-radius: 0 1rem 1rem 0;
        background-color: $color-tertiary;
    }

    &__icon {
        color: $color-tertiary;
        display: flex;
        border-radius: 100px;
        padding: 0.4rem;
        background-color: white;
    }

    @for $i from 1 through 10 {
      &--#{$i} {
        animation-delay:$i*.2s;
      }
    }
  

    &:hover {
      grid-auto-columns: auto 6rem;
      & .onglet__check {
        width: 0;
        padding: 2rem;
      }
    }
}

@keyframes onglet {
    0% {
      margin-top: 2rem;
      opacity: 0;
    }

    100% {
      margin-top: 0;
      opacity: 1;
    }
}

.onglet:hover .onglet__icon {
    transition: .9s;
    transform: rotate(360deg);
}

.onglet__title, .onglet__detail {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 0.5rem;
}

.entrees {

    &__title{   
         text-transform: uppercase;
         font-weight: 500;
         font-size: 17px;
         margin-top: 2rem;
    }
}

.plats {

    &__title {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 17px;
        margin-top: 2rem;
    }
}

.desserts {

    &__title {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 17px;
        margin-top: 2rem;
    }
}

.btn {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    &__command {
        border: none;
        border-radius: 2rem;
        padding: 1rem 1.5rem;
        color: #fff;
        font-size: 15px;
        font-weight: bold;
        box-shadow: 0px 0px 10px lightgrey;
        cursor: pointer;
        background: linear-gradient( #ff79da, #9356DC);

        &:hover {
            transform: scale(1.1);
        }
    }
}

/* MEDIA QUERIES */ 

@media screen AND (min-width: 1024px) {
    
    .cartes {
        display: grid;
        grid-template-areas: 
            "entrees plats desserts"
            ". bouton ."            
    }

    .entrees__title {
        grid-area: entrees;
    }

    .plats__title {
        grid-area: plats;
    }

    .desserts__title {
        grid-area: desserts;
    }

    .btn {
        grid-area: bouton;
    }

    .onglet {
        width: 80%;
    }
}